<div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="assets/img/team/3.jpg" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model="updateUserInfo.email">
        <input type="password" id="inputPassword" class="form-control" placeholder="New Password" required ng-model="updateUserInfo.password">
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="updatePassword()">Submit</button>
    </form>
</div>