<div class="card card-container signup">
    <form class="form-signup">
        <div class="form-group row">
          <label for="name" class="col-3 col-form-label">Name</label>
          <div class="col-9">
            <input class="form-control" type="text" id="name" ng-model="singupInfo.name">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-3 col-form-label">Email</label>
          <div class="col-9">
            <input class="form-control" type="email" id="email" ng-model="singupInfo.email">
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-3 col-form-label">Password</label>
          <div class="col-9">
            <input class="form-control" type="password" id="password" ng-model="singupInfo.password">
          </div>
        </div>
        <div class="form-group row">
          <label for="sex" class="col-3 col-form-label">Sex</label>
          <div class="col-9">
            <input class="form-control" type="text" id="sex" ng-model="singupInfo.sex">
          </div>
        </div>
        <div class="form-group row">
          <label for="dob" class="col-3 col-form-label">Date of Birth</label>
          <div class="col-9">
            <input class="form-control" type="date" id="dob" ng-model="singupInfo.dob">
          </div>
        </div>
        <div class="form-group row">
          <label for="major" class="col-3 col-form-label">Major</label>
          <div class="col-9">
            <input class="form-control" type="text" id="major" ng-model="singupInfo.major">
          </div>
        </div>
        <div class="form-group row">
          <label for="school" class="col-3 col-form-label">School</label>
          <div class="col-9">
            <input class="form-control" type="text" id="School" ng-model="singupInfo.school">
          </div>
        </div>
        <div class="form-group row">
          <label for="identity" class="col-3 col-form-label">Identity</label>
          <div class="col-9">
            <input class="form-control" type="text" id="identity" ng-model="singupInfo.identity">
          </div>
        </div>
        <div class="form-group row">
          <label for="startDate" class="col-3 col-form-label">Start Date</label>
          <div class="col-9">
            <input class="form-control" type="date" id="startDate" ng-model="singupInfo.startDate">
          </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="signup()">Sign up</button>
    </form>
    
</div>