<div class="content__block">
    <div class="content__block-header">
        <ol class="breadcrumb content__block-header-list">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Mock Interview</a></li>
          <li class="breadcrumb-item active" ui-sref="uiHome" ui-sref-active="active">Web Developer</li>
        </ol>
    </div>
    <div class="content__block-content">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                  <h4 class="card-title">HTML</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <a href="#" ui-sref="htmlQuestions"><h6 class="text-muted">View Details <i class="fa fa-angle-double-right"></i></h6></a>
                </div>
              </div>
            <div class="card">
                <div class="card-block">
                  <h4 class="card-title">CSS</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <a href="#" ui-sref="cssQuestions"><h6 class="text-muted">View Details <i class="fa fa-angle-double-right"></i></h6></a>
                </div>
              </div>
            <div class="card">
                <div class="card-block">
                  <h4 class="card-title">JavaScript</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <a href="#" ui-sref="javascriptQuestions"><h6 class="text-muted">View Details <i class="fa fa-angle-double-right"></i></h6></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content__block-content">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                  <h4 class="card-title">jQuery</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <a href="#" ui-sref="jqueryQuestions"><h6 class="text-muted">View Details <i class="fa fa-angle-double-right"></i></h6></a>
                </div>
              </div>
            <div class="card">
                <div class="card-block">
                  <h4 class="card-title">Angular JS</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <a href="#" ui-sref="angularjsQuestions"><h6 class="text-muted">View Details <i class="fa fa-angle-double-right"></i></h6></a>
                </div>
              </div>
            <div class="card">
                <div class="card-block">
                  <h4 class="card-title">Miscellaneous</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <a href="#" ui-sref="otherQuestions"><h6 class="text-muted">View Details <i class="fa fa-angle-double-right"></i></h6></a>
                </div>
            </div>
        </div>
    </div>
</div>