<div class="content__block" ng-controller="uiQuestionCtrl">
	<div class="content__block-header">
        <ol class="breadcrumb content__block-header-list">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Interview Questions</a></li>
          <li class="breadcrumb-item"><a href="#">Web Developer</a></li>
          <li class="breadcrumb-item active">HTLM Questions</li>
        </ol>
    </div>
    <div class="content__block-content">
    	<button class="btn btn-primary" ng-click='createHtmlQuestion()'>Add Entry</button>
    	<div class="question" ng-repeat="htmlQuestion in htmlQuestions">
    		<div class="question__title"><h4>{{$index+1}}. {{htmlQuestion.title}}</h4></div>
    		<div class="question__content">
    			<div class="question__list">
    			<strong>Question: </strong><span>{{htmlQuestion.question}}</span>
    			</div>
    			<div class="question__anwser">
    			<strong>Anwser: </strong><span>{{htmlQuestion.answer}}</span>
    			</div>
    			<div class="question__image">
    				<div class="question__image-content">{{htmlQuestion.code}}</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>