<div class="content__block">
	<div class="content__block-header">
        <ol class="breadcrumb content__block-header-list">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Interview Questions</a></li>
          <li class="breadcrumb-item"><a href="#">Web Developer</a></li>
          <li class="breadcrumb-item active">HTLM Questions</li>
        </ol>
    </div>
    <div class="content__block-content">
    	<div class="question">
    		<div class="question__title"><h4>1. doctype</h4></div>
    		<div class="question__content">
    			<div class="question__list">
    			<strong>Question: </strong><span>What is doctype? Why do u need it?</span>
    			</div>
    			<div class="question__anwser">
    			<strong>Anwser: </strong><span>doctype is an instruction to the browser to inform about the version of html document and how browser should render it.It ensures how element should be displayed on the page by most of the browser. And it also makes browser's life easier. otherwise, browser will guess and will go to quirks mode. Moreover, doctype is required to validate markup.</span>
    			</div>
    			<div class="question__image">
    				<div class="question__image-content">test code</div>
    			</div>
    		</div>
    	</div>
    	<div class="question">
    		<div class="question__title"><h4>2. data-*</h4></div>
    		<div class="question__content">
    			<div class="question__list">
    			<strong>Question: </strong><span>What is the use of data- attribute?</span>
    			</div>
    			<div class="question__anwser">
    			<strong>Anwser: </strong><span>allow you to store extra information/ data in the DOM. u can write valid html with embedded private data. You can easily access data attribute by using javascript and hence a lot of libraries like knockout uses it.</span>
    			</div>
    			<div class="question__image">
    				<div class="question__image-content">test code</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>