<div class="notification" ng-controller="notificationCtrl">
	<div class="notification__top"><h4><span ng-show="groupFlag">Group</span> Notification</h4></div>
	<div class="notification__content">

		<form class="notification__form">
      <div class="form-group" ng-show="groupFlag">
        <label for="group">Group</label>
        <select class="form-control" id="group" ng-model="groupname" ng-options="groupName as groupName for groupName in groupNames" ng-change="getUserEmailList()" placeholder="Select a group">      
        </select>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title" ng-model="notification.title">
      </div>
      <div class="form-group">
        <label for="subtitle">Sub Title</label>
        <input class="form-control" type="text" id="email" ng-model="notification.subTitle">
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" type="text" id="message" ng-model="notification.body"></textarea>
      </div>
      <div class="form-group">
        <label for="file">Attachments</label>
        <input class="form-control" type="file" id="file-attachment" required />
      </div>
    </form>
  </div>
  <div class="notification__bottom">
    <button type="button" class="btn btn-warning" ng-click="cancelNotification()"><i class="fa fa-times"></i> Cancel</button>
    <button type="submit" class="btn btn-info" ng-click="sendNotification()"><i class="fa fa-check"></i> Submit</button>
  </div>
</div>

<!-- Send Notification Modal -->
<div class="modal fade" id="sendNotificationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reloadState('userDetail')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your notification has been created successfully.</p>
        <p>An email has been sent to the user.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reloadState('userDetail')">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Service Error Modal -->
<div class="modal fade" id="notificationErrorModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reloadState('userDetail')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        There is a service error, please try again later.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reloadState('userDetail')">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Form Validation Modal -->
<div class="modal fade" id="formValidationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please at least upload one file to proceed.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>