<div class="notification" ng-controller="notificationCtrl">
	<div class="notification__top"><h4>Notification</h4></div>
	<div class="notification__content">
		<form class="notification__form">
      <div class="form-group row">
        <label for="title" class="col-3 col-form-label">Title</label>
        <div class="col-9">
          <input class="form-control" type="text" id="title" ng-model="notification.title">
        </div>
      </div>
      <div class="form-group row">
        <label for="subtitle" class="col-3 col-form-label">Sub Title</label>
        <div class="col-9">
          <input class="form-control" type="text" id="email" ng-model="notification.subTitle">
        </div>
      </div>
      <div class="form-group row">
        <label for="message" class="col-3 col-form-label">Message</label>
        <div class="col-9">
          <textarea class="form-control" type="text" id="message" ng-model="notification.body"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="file" class="col-3 col-form-label">Attachments</label>
        <div class="col-9">
          <input class="form-control" type="file" id="file-attachment" />
        </div>
      </div>
    </form>
  </div>
  <div class="notification__bottom">
    <button type="button" class="btn btn-warning" ng-click="cancelNotification()">Cancel</button>
    <button type="submit" class="btn btn-info" ng-click="sendNotification()">Submit</button>
  </div>
</div>