<div class="user-profile" ng-controller="userProfileCtrl">
	<h4 class="user-profile__header">List of All Users</h4>
	<table class="table table-striped user-profile__table">
		<thead class="thead-inverse">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>User Group</th>
				<th>Admin</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users" ng-click="getUserDetail(user.email)" ui-sref="userDetail" ui-sref-active="active">
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.userGroup}}</td>
				<td>{{user.admin}}</td>
			</tr>
		</tbody>
	</table>
</div>

