<div class="user-profile" ng-controller="userProfileCtrl">
	<h4 class="user-profile__header">List of All Users</h4>
	<button type="button" class="btn btn-danger float-right mb-2" ui-sref="userProfile.sendGroupNotification"><i class="fa fa-pencil"></i> Send Group Notification</button>
	<div class="pagination-wrapper">
		<table class="table table-striped user-profile__table">
		<thead class="thead-inverse">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>User Group</th>
				<th>Admin</th>
				<th>Test One</th>
				<th>Test Two</th>
				<th>Test Three</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-click="getUserDetail(user.email)" ui-sref="userDetail" ui-sref-active="active">
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.userGroup}}</td>
				<td>{{user.admin}}</td>
				<td>{{user.quiz[0].quiz1}}
					<div>
						<button class="btn-warning" ng-click="disableTestCase('quiz1',user.email); $event.stopPropagation();" ng-show="user.quiz[0].quiz1 == 'Completed'">Disable</button>
						<button class="btn-success" ng-click="enableTestCase('quiz1', user.email); $event.stopPropagation();" ng-show="user.quiz[0].quiz1 == 'Not started'">Enable</button>
					</div>
				</td>
				<td>{{user.quiz[1].quiz2}}
					<div>
						<button class="btn-warning" ng-click="disableTestCase('quiz2',user.email); $event.stopPropagation();" ng-show="user.quiz[1].quiz2 == 'Completed'">Disable</button>
						<button class="btn-success" ng-click="enableTestCase('quiz2',user.email); $event.stopPropagation();" ng-show="user.quiz[1].quiz2 == 'Not started'">Enable</button>
					</div>
				</td>
				<td>{{user.quiz[2].quiz3}}
					<div>
						<button class="btn-warning" ng-click="disableTestCase('quiz3',user.email); $event.stopPropagation();" ng-show="user.quiz[2].quiz3 == 'Completed'">Disable</button>
						<button class="btn-success" ng-click="enableTestCase('quiz3',user.email); $event.stopPropagation();" ng-show="user.quiz[2].quiz3 == 'Not started'">Enable</button>
					</div>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
	<div class="pagination-content">
    	<ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" data-ng-show="totalItems > itemsPerPage" ng-model="currentPage"></ul>
    </div>
</div>

<div ui-view></div>

<div class="modal fade" id="userProfileErrorModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reloadState()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The session has expired, please login again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reloadState()">Ok</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="enableTestModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to enable this quiz?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" ng-click="updateEnableTest()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="disableTestModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to disable this quiz?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" ng-click="updateDisableTest()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="updateTestModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reloadState('userProfile')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The status has been updated successfully.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reloadState('userProfile')">Ok</button>
      </div>
    </div>
  </div>
</div>

