body {
	margin: 0;
	padding: 0; 
	color: #797979;
    background: #eeeeee;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
	box-sizing: border-box;
}

.dark-bg {
    color: #fff;
    background: #1a2732;
    background-color: #1a2732;
    border-bottom: 1px solid #f1f2f7;
}

.main-container {
	position: absolute;
	top: 60px;
	left: 180px;
	bottom: 0;
	right: 0;
	overflow-y: auto;
}

.max-container {
	margin: 0 !important;
}



