.user-profile {
	margin: 20px;
}

	.user-profile__header {}

		.user-profile__table {

			thead tr th {
				vertical-align: middle;
			}
			
			tbody tr {
				cursor: pointer;
			}

			a {
				text-decoration: underline !important;
				-webkit-text-decoration-color: #1ABB9C;
				        text-decoration-color: #1ABB9C;
				cursor: pointer;
			}
		}

	.user-profile__container {
		max-width: 1000px;
	}

		.user-profile__img-container {
			margin-top: 20px;
		}

		.user-profile__img-content {
			display: block;
			margin: 0 auto;
			height: 400px;
			width: 400px;
		}