<div class="user-profile" ng-controller="eventsCtrl">
	<div class="user-profile__header">
		<h4 class="float-left">List of All Events</h4>
		<button type="button" class="btn btn-danger float-right mb-2" ui-sref="events.createEvent" ui-sref-active="active"><i class="fa fa-pencil"></i> Create New Event</button>
	</div>	
	<div class="pagination-wrapper">
		<table class="table table-striped user-profile__table">
		<thead class="thead-inverse">
			<tr>
				<th>Title</th>
				<th>Content</th>
				<th>URL</th>
				<th>Time</th>
				<th>Location</th>
				<th>Start Date</th>
				<th>End Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="event in events.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ui-sref="events.editEvent({id: event.id})" ui-sref-active="active">
				<td>{{event.title}}</td>
				<td>{{event.content}}</td>
				<td>{{event.url}}</td>
				<td>{{event.time}}</td>
				<td>{{event.location}}</td>
				<td>{{event.startDate}}</td>
				<td>{{event.endDate}}</td>
			</tr>
		</tbody>
		</table>
	</div>
	<div class="pagination-content">
    	<ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"></ul>
    </div>	
</div>

<div ui-view></div>


