<section class="post-content">
	<h4><i class="fa fa-star"></i> Collections about Business Analyst <i class="fa fa-star"></i></h4>
</section>
<section class="post-content">
    <h2>Title</h2>
    <div class="post-description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
        </p>
    </div>
    <div class="post-footer">
        <p>author | Date</p>
    </div>
</section>
<section class="post-content">
    <h2>Title</h2>
    <div class="post-description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
        </p>
    </div>
    <div class="post-footer">
        <p>author | Date</p>
    </div>
</section>
<section class="post-content">
    <h2>Title</h2>
    <div class="post-description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
        </p>
    </div>
    <div class="post-footer">
        <p>author | Date</p>
    </div>
</section>
<section class="post-content">
    <h2>Title</h2>
    <div class="post-description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
        </p>
    </div>
    <div class="post-footer">
        <p>author | Date</p>
    </div>
</section>