<div class="collection-content">
  <div class="card-deck">
        <div class="card card__click" ui-sref="filteredPosts" ng-click="getFilteredPosts('Consulting Company')">
          <img class="card-img-top" src="assets/img/collection1.png" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Consulting Company</h4>
            </div>
          <div class="card-footer">
            <a class="text-muted">2 POSTS</a>
          </div>
        </div>
        <div class="card card__click" ui-sref="filteredPosts" ng-click="getFilteredPosts('Business Analyst')">
          <img class="card-img-top" src="assets/img/collection2.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Business Analyst</h4>
            </div>
          <div class="card-footer">
            <a class="text-muted">2 POSTS</a>
          </div>
        </div>
        <div class="card card__click" ui-sref="filteredPosts" ng-click="getFilteredPosts('Front-end Developer')">
          <img class="card-img-top" src="assets/img/collection3.png" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Front-end Developer</h4>
            </div>
          <div class="card-footer">
            <a class="text-muted">2 POSTS</a>
          </div>
        </div>
  </div>
</div>

