<div class="collection-content">
  <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="assets/img/collection1.png" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Consulting Company</h4>
            </div>
          <div class="card-footer">
            <a class="text-muted" ui-sref="consulting">3 POSTS</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/collection2.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Business Analyst</h4>
            </div>
          <div class="card-footer">
            <a class="text-muted" ui-sref="businessAnalyst">4 POSTS</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/collection3.png" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Front-end Developer</h4>
            </div>
          <div class="card-footer">
            <a class="text-muted" ui-sref="uiDeveloper">5 POSTS</a>
          </div>
        </div>
  </div>
</div>

