 <section class="post-content" ng-repeat="allPost in allPosts.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
    <h2><a href="#{{allPost.author}}" class="post-link" data-toggle="modal">{{allPost.title}}</a></h2>
    <div class="post-description">
        <p>{{allPost.description}}</p>
    </div>
    <div class="post-footer">
        <p>Techstarphilly | {{allPost.date}}</p>
    </div>
</section>

<div class="pagination-content">
	<ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
</div>
