.announcement {
  margin-top: 20px;
  padding: 0 0 0 20px;
  height: 600px;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  color: #797979;
  background: #eeeeee;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}
.dark-bg {
  color: #fff;
  background: #1a2732;
  background-color: #1a2732;
  border-bottom: 1px solid #f1f2f7;
}
.main-container {
  position: absolute;
  top: 60px;
  left: 180px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
}
.max-container {
  margin: 0 !important;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.calendar {
  margin-top: 20px;
}

.content__block {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}
.content__block-header {
  padding: 10px 20px 0 20px;
}
.content__block-header-list {
  margin: 0;
  padding-bottom: 0;
}
.content__block-content {
  padding: 20px 20px 0;
  clear: both;
}
.content__block--card {
  padding: 30px 0 0 50px;
  height: 300px;
}
.content__block--card-input {
  display: inline-block;
  margin-right: 5px;
}
.content__block--card-text {
  font-size: 18px;
}
.content__block--card-textarea {
  width: 100%;
  height: 300px;
}
.content__block-button {
  padding-right: 20px;
}
.content__block-form {
  padding: 20px;
}

.interview {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  background-image: url('../img/resume.png');
  /*background-image: url('../img/mockinterview.jpg');*/
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  z-index: 101;
}
.nav__toggle {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}
.nav__logo {
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 22px;
  font-weight: 300;
  color: #fed189;
  text-transform: uppercase;
}
.nav__logo span {
  color: #00a0df;
}
.nav__search {
  padding: 15px 0 0 20px;
}
.nav__search-form {
  position: relative;
}
.nav__search-form-icon {
  position: absolute;
  top: 7px;
  left: 3px;
  color: #8e8e93;
}
.nav__search-form-input {
  width: 200px;
  height: 30px;
  padding: 6px 12px 6px 20px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #8e8e93;
  border: 1px solid #c7c7cc;
  border-radius: 4px;
  vertical-align: middle;
}
.nav__notification {
  position: absolute;
  right: 20px;
}
.nav__notification-menu {
  list-style: none;
}
.nav__notification-menu-list {
  padding: 8px;
  float: left;
}
.nav__notification-menu-link {
  text-decoration: none;
}
.nav__notification-menu-link:hover,
.nav__notification-menu-linkfocus {
  text-decoration: none;
}
.nav__notification-menu-profile img {
  display: inline-block;
  width: 42px;
  border: 2px solid #688a7e;
  border-radius: 50%;
  vertical-align: middle;
}
.nav__notification-menu-name {
  padding-left: 10px;
  color: #fff;
}
.nav__notification-log-out {
  padding-left: 15px;
  color: #fff;
}

.notification {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 600px;
  background: #fff;
  z-index: 3;
}
.notification__top {
  height: 40px;
  background-color: #c9302c;
}
.notification__top h4 {
  padding: 5px 0 0 15px;
  color: #fff;
}
.notification__content {
  position: absolute;
  top: 40px;
  bottom: 60px;
  left: 0;
  right: 0;
  overflow-y: auto;
}
.notification__form {
  padding: 15px 20px 0;
}
.notification__form textarea {
  height: 150px;
}
.notification__form label {
  font-size: 15px;
}
.notification__form input {
  font-size: 14px;
}
.notification__bottom {
  padding: 10px 20px 10px 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #797979;
  text-align: right;
}

.pagination-content {
  margin-right: 20px;
  float: right;
}
.pagination-content--no-margin {
  margin: 0;
  float: right;
}
.pagination-content--ui {
  margin-right: 40px;
  float: right;
}
.pagination-wrapper {
  height: 400px;
}
/*Bootstrap Pagination*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/*Bootstrap Pagination*/

.question {
  padding: 20px;
}
.question__title {
  color: #000000;
}
.question__edit {
  width: 90%;
}
.question__edit[disabled] {
  border: none;
  background-color: #eeeeee;
}
.question__edit--small {
  width: 80%;
}
.question__edit--small[disabled] {
  border: none;
  background-color: #eeeeee;
}
.question__list {
  margin-bottom: 5px;
  font-size: 16px;
}
.question__list strong {
  display: inline-block;
  width: 80px;
}
.question__anwser {
  margin-bottom: 10px;
  font-size: 16px;
}
.question__anwser strong {
  display: inline-block;
  width: 80px;
}
.question__image {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: auto;
}
.question__image-content {
  display: block;
  padding: 0.5em;
  width: 100%;
  background: #3F3F3F;
  color: #DCDCDC;
}

.sidebar {
  width: 180px;
  height: 100%;
  position: fixed;
  left: 0;
  overflow: hidden;
  outline: 0;
  background: #394a59;
}
.sidebar__menu {
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 0;
}
.sidebar__menu-list {
  line-height: 20px;
  list-style: none;
}
.sidebar__menu-list.active {
  background: #2e3b46;
}
.sidebar__menu-list-item {
  display: block;
  padding: 15px 0 15px 10px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  outline: none;
  border-right: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
}
.sidebar__menu-list-item:hover,
.sidebar__menu-list-item:focus {
  color: #fff;
  text-decoration: none;
}
.sidebar__menu-list-item .fa {
  width: 25px;
  font-size: 18px;
}
.sidebar__menu-list-item .fa-university {
  font-size: 15px;
}
.sidebar__menu-list-item .fa-calendar {
  font-size: 15px;
}
.sidebar__menu-list-item .fa-quora {
  font-size: 15px;
}
.sidebar__menu-list-item .fa-file-text {
  font-size: 15px;
}
.sidebar__menu-list-item.active {
  border-right: 5px solid #1ABB9C;
}
.sidebar__sub-menu {
  padding-left: 25px;
  padding-bottom: 6px;
  border-bottom: 1px solid #D7D7D7;
}
.sidebar__sub-menu .fa {
  margin-right: 5px;
}
.sidebar__sub-menu-list {
  line-height: 20px;
  font-size: 15px;
  list-style: none;
}
.sidebar__sub-menu-list-item {
  display: block;
  padding: 6px 0 3px 0;
  color: #fff;
}
.sidebar__sub-menu-list-item:hover,
.sidebar__sub-menu-list-item:focus {
  color: #fff;
  text-decoration: none;
}
.sidebar__sub-menu-list-item.active {
  border-right: 5px solid #1ABB9C;
}

.user-profile {
  margin: 20px;
}
.user-profile__table tbody tr {
  cursor: pointer;
}
.user-profile__table a {
  text-decoration: underline !important;
  -webkit-text-decoration-color: #1ABB9C;
  text-decoration-color: #1ABB9C;
  cursor: pointer;
}
.user-profile__container {
  max-width: 1000px;
}
.user-profile__img-container {
  margin-top: 20px;
}
.user-profile__img-content {
  display: block;
  margin: 0 auto;
  height: 400px;
  width: 400px;
}
