body {
  margin: 0;
  padding: 0;
  color: #797979;
  background: #eeeeee;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}
.dark-bg {
  color: #fff;
  background: #1a2732;
  background-color: #1a2732;
  border-bottom: 1px solid #f1f2f7;
}
.main-container {
  position: absolute;
  top: 60px;
  left: 180px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
}

.content__block {
  display: inline-block;
  margin-bottom: 20px;
}
.content__block-header {
  padding: 0 20px;
}
.content__block-header-list {
  margin: 0;
  padding-bottom: 0;
}
.content__block-content {
  padding: 20px 20px 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  z-index: 101;
}
.nav__toggle {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}
.nav__logo {
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 22px;
  font-weight: 300;
  color: #fed189;
  text-transform: uppercase;
}
.nav__logo span {
  color: #00a0df;
}
.nav__search {
  padding: 15px 0 0 20px;
}
.nav__search-form {
  position: relative;
}
.nav__search-form-icon {
  position: absolute;
  top: 7px;
  left: 3px;
  color: #8e8e93;
}
.nav__search-form-input {
  width: 200px;
  height: 30px;
  padding: 6px 12px 6px 20px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #8e8e93;
  border: 1px solid #c7c7cc;
  border-radius: 4px;
  vertical-align: middle;
}
.nav__notification {
  position: absolute;
  right: 20px;
}
.nav__notification-menu {
  list-style: none;
}
.nav__notification-menu-list {
  padding: 8px;
  float: left;
}
.nav__notification-menu-link {
  text-decoration: none;
}
.nav__notification-menu-link:hover,
.nav__notification-menu-linkfocus {
  text-decoration: none;
}
.nav__notification-menu-profile img {
  display: inline-block;
  width: 42px;
  border: 2px solid #688a7e;
  border-radius: 50%;
  vertical-align: middle;
}
.nav__notification-menu-name {
  padding-left: 5px;
  color: #fff;
}

.question__title {
  color: #000000;
}
.question__list {
  margin-bottom: 5px;
  font-size: 16px;
}
.question__anwser {
  margin-bottom: 10px;
  font-size: 16px;
}
.question__image {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: auto;
}
.question__image-content {
  display: block;
  padding: 0.5em;
  background: #3F3F3F;
  color: #DCDCDC;
}

.sidebar {
  width: 180px;
  height: 100%;
  position: fixed;
  left: 0;
  overflow: hidden;
  outline: 0;
  background: #394a59;
}
.sidebar__menu {
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 0;
}
.sidebar__menu-list {
  line-height: 20px;
  list-style: none;
}
.sidebar__menu-list.active {
  background: #2e3b46;
}
.sidebar__menu-list-item {
  display: block;
  padding: 15px 0 15px 10px;
  color: #fff;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  outline: none;
  border-right: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
}
.sidebar__menu-list-item:hover,
.sidebar__menu-list-item:focus {
  color: #fff;
  text-decoration: none;
}
.sidebar__menu-list-item .fa {
  width: 25px;
  font-size: 18px;
}
