<div class="content__block">
  <div class="content__block-content">
    <div class="card-deck">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Week 1</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <a ui-sref="filesbaGrid({week:'week1'})" ui-sref-active="active">View Documents</a>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Week 2</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <a ui-sref="filesbaGrid({week:'week2'})" ui-sref-active="active">View Documents</a>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Week 3</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <a ui-sref="filesbaGrid({week:'week3'})" ui-sref-active="active">View Documents</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content__block-content">
    <div class="card-deck">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Week 4</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <a ui-sref="filesbaGrid({week:'week4'})" ui-sref-active="active">View Documents</a>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Week 5</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <a>View Documents</a>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Week 6</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <a>View Documents</a>
        </div>
      </div>
    </div>
  </div>
</div>