<div class="user-profile" ng-controller="fileCtrl">
  <div class="user-profile__header">
    <h4>References for Web Developer</h4>
  </div>
  <div class="pagination-wrapper">
    <table class="table table-striped user-profile__table">
      <thead class="thead-inverse">
        <tr>
          <th>File Name</th>
          <th>File Owner</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="file in files.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
          <td><a ng-click="getSignedUrl(file.Key)">{{file.Key}}</a></td>
          <td>{{file.Owner.DisplayName}}</td>
          <td>{{file.LastModified}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-content--ui">
    <ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"></ul>
  </div>
</div>